{% extends 'search/base.html' %}
        {% block content %}
					<div class="mdl-grid">
            {% if error %} 
            <div class="mdl-cell-middle mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--2-offset mdl-card mdl-shadow--3dp  mdl-cell--12-col-phone">
            <h4>No Restaurant found for the given search</h4>
            </div>
            {% else %}
            {% if rlist %}
            {% for rest in rlist %}
	           <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-shadow--3dp  mdl-cell--12-col-phone">
              <div class="mdl-card__media">
                <img src="{{ rest.photo_url }}" style="max-height:200px;">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">{{ rest.name }}</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
              {{ rest.address }}
                </span>
              </div>   
              
              <div class="mdl-card__actions">
              
                <!-- Icon button link-->
                <div class="icon material-icons mdl-badge" data-badge="{{ rest.checkins }}">grade
                </div>
<!--                 <div> <i class="material-icons">phone</i>{{ rest.phone_number }}
                </div> -->
                
              </div>
              <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons" style="color: white;">share</i>
                </button>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="mdl-cell-middle mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--2-offset mdl-card mdl-shadow--3dp  mdl-cell--12-col-phone">
            <h4 class="align-center">No Restaurant found for the given search</h4>
            </div>
            {% endif %}

            {% endif %}
					</div>

  {% endblock %}
