{% extends 'search/base.html' %}
{% load staticfiles %}
    {% block opengraph %}
    <meta property="og:image" content="photo_url" />
    <meta property="og:url"  content="{% url 'search:rwithid' rest.venue_id %}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{rest.name}}" />
    <meta property="og:description" content="{{rest.address}}" />
      {% endblock %}
{% block fbsdkblock %} 
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '231384847207103',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}
        {% block content %}
					<div class="mdl-grid">
            {% if error %} 
            <div class="mdl-cell-middle mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--2-offset-desktop mdl-cell--12-col-phone">
            <h4>Nothing found for the given search</h4>
            </div>
            {% else %}
            {% if rest %}
	           <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-card mdl-shadow--3dp  mdl-cell--12-col-phone">
              <div class="mdl-card__media">
           <div id="single_map"></div>
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">{{ rest.name }}</h4>
              </div>
              <div class="mdl-card__supporting-text post-excerpt">
                <span class="mdl-typography--font-light mdl-typography--subhead">
              {{ rest.address }}
                </span>
              </div>   
              
              <div class="mdl-card__actions"> 
                <span class="mdl-badge" data-badge="♥">{{ rest.checkins }}</span>          
              </div>
              <div class="mdl-card__actions mdl-card--border post-categories post-tags">
              <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                {{ rest.r_type }}
              </a>
               <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                #{{ rest.phone_number }}
              </a>
               </div>
              <div class="mdl-card__menu">
                <a href="" onclick="fbshare('{{rest.venue_id}}','{{photo_url}}','{{rest.name}}')">
                  <i class="material-icons" style="color: white;">share</i>
                </a>
              </div>
            </div>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg2StWdwwf2v8OcHJNJtAcxgkygU5rROo&callback=initMap" async defer></script>
              <script>
                function initMap() {
                var map = new google.maps.Map(document.getElementById('single_map'), {
                  zoom: 16,
                  center: {lat: {{ rest.latitude}}, lng: {{ rest.longitude}}}
                })
                 infowindow = new google.maps.InfoWindow({});
                     var marker = new google.maps.Marker({
                      position: { lat: {{rest.latitude}}, lng: {{rest.longitude}} },
                      title: '{{rest.r_type}}',
                      animation: google.maps.Animation.DROP,
                      map: map,
                    });
                var contentString = '<div class="mdl-grid">'+
                    '<div class="mdl-cell mdl-cell--12-col"><h4>'+
                    '{{rest.name}}' +'</h4></div>'+
                    '<div class="mdl-cell mdl-cell--12-col">'+
                    '<p>' + '{{ rest.address}}' + 
                    '</p>'+
                    '</div>'+
                    '</div>';
                     marker['infowindow'] = contentString;


                      google.maps.event.addListener(marker, 'click', function() {
                          infowindow.setContent(this['infowindow']);
                          infowindow.open(map, this);
                      });
                }

              </script>
    

            {% else %}
            <div class="mdl-cell-middle mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--2-offset mdl-card mdl-shadow--3dp  mdl-cell--12-col-phone">
            <h4 class="align-center">Nothing found for the given search</h4>
            </div>
            {% endif %}
            {% endif %}
					</div>

  {% endblock %}
  {% block jsblock1 %}

    <script>
      function load() {
        var spinner = document.getElementById("spinner");
        console.log("load event detected!");
        spinner.classList.remove("is-active");
      }
      window.onload = load;
    </script>
  {% endblock %}
  {% block fbshare %} 
<script>
    function fbshare(venue_id,photo_url,title){
        FB.ui({
          method: 'share',
          href: 'https://searchrestaurant.pythonanywhere.com/restaurant/'+venue_id,
          picture: photo_url,
          caption: title,
        }, function(response){});
    }
</script>
  {% endblock %}


