certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.7
django-filter==0.12.0
djangorestframework==3.7.1
drfdocs==0.0.6
httpie==0.9.9
idna==2.6
Markdown==2.6.9
Pygments==2.2.0
pytz==2017.3
requests==2.18.4
urllib3==1.22
